.grid1{display:grid; grid-template-columns:auto auto auto auto;grid-gap:10px}
.grid2{width:full;height:120px;background-color:black;grid-column: 1 / span 4;margin-bottom:20px;}
.grid3{width:full; height:250px;}